

<%= simple_form_for(@closing_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :tasks %>
    <%= f.input :files %>
    <%= f.input :dealname %>
    <%= f.input :notes %>
    <%= f.input :closing_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
