

<%= simple_form_for(@closing_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :notes, label: "Current Status" %>
    <%= f.input :status, label: "Check the Box if this Closing Item is Completed" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
