<%= form_for(@closing) do |f| %>
  <% if @closing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@closing.errors.count, "error") %> prohibited this closing from being saved:</h2>

      <ul>
      <% @closing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
