<%= simple_form_for(@closing, html: {class: "form-horizontal"}) do |f| %>
  <% if @closing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@closing.errors.count, "error") %> prohibited this closing from being saved:</h2>

      <ul>
      <% @closing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

         <%= f.input :dealname, label: "Deal Name" %>
        <%= f.input :team_leader, label: "Team Leader" %>
        <%= f.input :team_member_one, label: "Team Member One" %>
        <%= f.input :team_member_two, label: "Team Member Two" %>
        <%= f.input :team_member_three, label: "Team Member Three" %>
        <%= f.input :team_member_four, label: "Team Member Four" %>
        <%= f.input :team_member_five, label: "Team Member Five" %>
        <%= f.input :borrower_counsel_one, label: "Borrower Counsel's Contact One" %>
        <%= f.input :borrower_counsel_two, label: "Borrower Counsel's Contact Two" %>
        <%= f.input :relationship_manager, label: "Bank's Relationship Manager" %>
        <%= f.input :Bank_Closer, label: "Bank's Closer" %>
        <%= f.input :closing_date, label: "Closing Date" %>
      <div class="form-actions">
        <%= f.button :submit %>
  
  </div>
<% end %>
