<%= simple_form_for(@closing, html: {class: "form-horizontal"}) do |f| %>
  <% if @closing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@closing.errors.count, "error") %> prohibited this closing from being saved:</h2>

      <ul>
      <% @closing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

         <%= f.input :dealname %>
        <%= f.input :teammember %>
        <%= f.input :team_leader %>
        <%= f.input :relationship_manager %>
        <%= f.input :Bank_Closer %>
         <%= f.input :content %><br />
      <div class="form-actions">
        <%= f.button :submit %>
  
  </div>
<% end %>
