<h1>Listing closings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @closings.each do |closing| %>
  <tr>
    <td><%= closing.name %></td>
    <td><%= closing.content %></td>
    <td><%= link_to 'Show', closing %></td>
    <td><%= link_to 'Edit', edit_closing_path(closing) %></td>
    <td><%= link_to 'Destroy', closing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Closing', new_closing_path %>
