<div class="page_header">
<h1>All Closings</h1>
</div>

<%= link_to "Create a New Closing", new_closing_path, class: "btn btn-success" %>

<% @closings.each do |closing| %>
<div class="Closing">
  <strong><%=closing.dealname %></strong>
<P><%=closing.content %></p>

  <div class="meta">
    <%=link_to time_ago_in_words(closing.created_at) + " ago", closing %>
</div>
    <span class="admin">
      <%=link_to "Edit", edit_closing_path(closing) %>
      <%=link_to "Delete", closing, method: :delete, data: {confirm: "Are you sure you want to delete this Closing?"} %>
  </div>
<% end %>
