
<br>
<strong><h1><%= @closing.dealname %></h1></strong>
<p>
<table class="table table-striped">
  <thead>
      <tr>
        <th>Closing Item</th>
        <th>Notes</th>
        <th>Status</th>
        <th>Tasks</th>
      </tr>
   </thead>
  <% @closing.closing_items.each do |closing_item|%>
  <% id = closing_item.id %>
  <% title = closing_item.title %>
  <% tasks = closing_item.tasks %>
 
    
    <tbody>
      <% if closing_item.status != true %>
 <td><h3><p><%= link_to "#{title}", closing_item_path(id) %></h3></p></td>
 <td><h4><p><%= closing_item.notes %></p><h4></td>
 <td><h4><p><% if closing_item.status == true %> <%= "Completed" %><% else %> <%= "Open" %><% end %></p><h4></td>

  <% if tasks != [] %>
  <p><% tasks.each do |task| %>
  <td>  <h5><%= task.name %></h5>
    <% task_assignee = User.find(task.assignee) %>
    <h6><%= task_assignee.email %></h6>
    <h6><%= task.deadline %></h6></td>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
    </tbody>
    </table>
</p>

<p>

<%= button_to 'Send Email Update to Group', :action => "send_mail", :id => @closing.id, class: "btn btn-success" %>

<p> <%= button_to "Add Closing Item", :action => "new", :controller => "closing_items", class: 'btn btn-success' %> </p>
<p> <%= button_to "Show my Tasks", :action => "mytasks", :controller => "tasks", class: 'btn btn-success' %> </p>



<%= link_to 'Edit', edit_closing_path(@closing) %> |
<%= link_to 'Back', closings_path %> |
<%= link_to "Show Completed Closing Items", :action => "show", :controller => "closings", :id => @closing.id %>
