
<strong><h1><%= @closing.dealname %>:</h1></strong>
<p>

  <% @closing.closing_items.each do |closing_item|%>
  <% id = closing_item.id %>
  <% title = closing_item.title %>
  <% tasks = closing_item.tasks %>
  <table class="table table-bordered">
 <h3><p><%= link_to "#{title}", closing_item_path(id) %></h3></p>
 <h4><p>Status:  <FONT COLOR="%2343afb2"><%= closing_item.notes %></p><h4></FONT>
 <h4><p>Completed:  <FONT COLOR="%2343afb2"><% if closing_item.status == true %> <%= "Completed" %><% else %> <%= "Open" %><% end %></p><h4></FONT>

  <% if tasks != [] %>
  <em>Tasks:</em>
  <p><% tasks.each do |task| %>
    <h5><%= task.name %></h5>
    <h6><%= task.assignee %></h6>
    <h6><%= task.deadline %></h6>
    <% end %>
    <% end %>
  <% end %>

    </table>
</p>

<p>

<%= button_to 'Send Email Update to Group', :action => "send_mail", :id => @closing.id, class: 'btn btn-success' %>

<p> <%= button_to "Add Closing Item", :action => "new", :controller => "closing_items" %> </p>



<%= link_to 'Edit', edit_closing_path(@closing) %> |
<%= link_to 'Back', closings_path %> |
